body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
}

h2{
    font-weight: 600;
font-size: 30px;
line-height: 60px;
text-align: center;

color: #FFFFFF;

}
h3 {
    margin-left: 15px;
    font-weight: 500;
    font-size: 16px;

    color: #161616;
}


p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

/* ================banner part=============== */

header {
    display: flex;
    background-image: linear-gradient(to bottom left, rgb(28, 1, 1), rgb(30, 30, 108));
    margin: 50px 80px;
    border-radius: 25px;
    box-sizing: border-box;
}

.banner-description {
    width: 50%;
    padding: 70px;
}

.banner-img {
    width: 50%;
}

.btn-active {
    padding: 16px 25px;
    margin-top: 25px;
    background: #dd0034;
    color: #FFFFFF;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
}

.btn-normal {
    padding: 16px 25px;
    margin-top: 25px;
    background: #ffffff;
    color: #161616;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
}

.fa-circle-arrow-right {
    margin-left: 20px;
}

.banner-img img {
    margin: 0 auto;
}

/* ================main part=============== */
main {
    display: flex;
    margin: 100px 80px;
    gap: 20px;
}

aside {
    width: 300px;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    padding: 20px;
    background: #161616;
    border-radius: 10px;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: calc(100% - 250px);
}

article {
    border-radius: 10px;
    border: 1px solid gainsboro;
}

article img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.article-btn {
    margin: 12px 0 0 15px;
    width: 100px;
    height: 32px;
    border: 1px solid #161616;
    color: #161616;
    font-size: 15px;
    border-radius: 5px;
    background-color: #ffffff;
}

.article-description {
    padding: 0 0 10px 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    color: rgb(90, 86, 86);
}

.fa-message {
    margin-left: 20px;
}

/* ================main part=============== */
footer{
padding: 80px 100px ;
box-sizing: border-box;
    width: 100%;
    bottom: 0;
    background-color: #161616;
    color: #B9B9B9;
    font-size: 15px;
}
.list{
    border-top: 1px solid #594c4c;
    padding-top: 30px;
    color: #B9B9B9;
}
ul{
    display: flex;
    justify-content: space-around;
}
ul li{
    list-style: none;
}