body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
}

p {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

header {
    display: flex;
    background-image: linear-gradient(to bottom left, rgb(28, 1, 1), rgb(6, 6, 138));
    margin: 50px 80px;
    border-radius: 25px;
    
    box-sizing: border-box;
}

.banner-description{
    width: 50%;
    padding: 70px;
}
.banner-img {
    width: 50%;
}
.btn-active{ 
padding: 16px 25px;
margin-top: 25px;
width: 187px;
height: 56px;
background: #dd0034;
color: #FFFFFF;
font-size: 20px;
border: 0;
border-radius: 5px;
}
.fa-circle-arrow-right{
    margin-left: 20px;
}
.banner-img img{
margin: 0 auto;

}
main{
    display: flex;
    margin: 50px 80px;
}
aside{
    width: 350px;
}
.buttons{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background: #161616;
border-radius: 10px;
}
